
$body-bg:   #c3f8f43c;
//$body-bg:   #fefefe;
//$primary: rgb(35 83 79);
$primary: rgb(14, 68, 79);
//$body-color: rgb(237, 17, 17);


$list-group-bg: #95c5aeab;

$card-bg: #96bcaa5e;


$badge-color: rgb(212, 109, 0);

$font-weight: 600;








$border-color: rgb(35, 83, 79);
$border-radius: 2rem;





@import "../../../../node_modules/bootstrap/scss/bootstrap";

